.findUs{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 5rem 3rem;
}
.findUs__part1{
    display: flex;
    flex-direction: column;
    margin:2rem 0;
}
.findUs__part1-1{
    color:#fff;
    font-size:1.3rem;
    font-family: var(--font-base)
}
.findUs__part1-2{
    color: var(--color-golden);
    font-size:1.5rem;
    font-family: var(--font-base);
    margin:3rem 0;
}
.findUs__part1-3 p{
    color: #fff;
}
.findUs__part1-3 .p-2{
    color: var(--color-golden);
    font-family: var(--font-base);
    font-size:1.3rem;
    margin:2rem 0;
}
.findUs__part1-4 button{
    padding:0.5rem 1rem;
    font-family: var(--font-base);
    font-size:1rem;
    background: var(--color-crimson);
    border:none;
    margin:2rem 0;
}
.findUs__part2{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:45rem;
}
.findUs__part2 img{
    max-width:60%;
}

@media (min-width:1000px) {
    .findUs{
        flex-direction: row;
    }
    .findUs__part1{
        min-width:25rem;
    }
}