
.footerPart1-Mother{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerPart1{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--color-black);
    padding:3rem;
    width:90%;
    border:1px solid var(--color-golden);
}
.footerPart1-1{
    color:#fff;
    font-size: 1.3rem;
    font-family: var(--font-base);   
}
.footerPart1-2 h1{
    color: var(--color-golden);
    font-family: var(--font-base);
    font-size:3rem;
    margin:1.5rem 0;
}
.footerPart1-2 p{
    color:#fff;
    margin-bottom:1rem;
}
.footerPart1-3 input{
    width:100%;
    padding:0.5rem 1rem;
    font-family: var(--font-base);
    background-color: transparent;
    border:1px solid var(--color-golden);
    border-radius:0.5rem;
}
.footerPart1-3 button{
    padding:0.5rem 1rem;
    font-family: var(--font-base);
    background-color: var(--color-crimson);
    border:none;
    margin:1rem 0;
}

/* RESPONSIVE */

@media (min-width:500px) {
    .footerPart1-3 input{
        width:60%;
        max-width:25rem;
    }
    .footerPart1-3 button{
        margin:0;
        margin-left:1rem;

    }
}

/* PART2 PART2 PART2 PART2 PART2 */
.footerPart2{
    margin:5rem 3rem;
}
.footerPart2__part1{
    display: grid;
    grid-template-columns: 100%;
}
.footerPart2__part1-1{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footerPart2__part1-1 h1{
    font-family: var(--font-base);
    color:#fff;
}
.footerPart2__part1-1 a, p{
    padding:0.3rem 0;
    color:#fff;
    font-size:0.9rem;
}
.footerPart2__part1-2{
    text-align: center;
    margin:3rem 0;
}
.footerPart2__part1-2 img{
    max-width:100%;
    max-width:10rem;
}
.footerPart2__part1-2_icons a{
    margin:0 0.5rem;
    cursor: pointer;
}
.footerPart2__part1-3{
    text-align: center;
}
.footerPart2__part1-3 h1{
    color:#fff;
    font-family: var(--font-base);
}
.footerPart2__part1-3 p{
    color:#fff;
    font-size:0.9rem;
}
.footerPart2__part1-3 p:nth-child(4) {
    margin-top:0.5rem;
}
.footerPart2__part2 {
    margin:3rem 0;
    color:#fff;
    text-align: center;
}


/* RESPONSIVE */

@media (min-width:768px) {
    .footerPart2__part1{
        grid-template-columns: 33% 33% 33%;
    }
    .footerPart2__part1-2{
        margin:0 1.5rem;
    }
}