.intro {
    height: 100vh;
    position:relative;
}
.intro video {
    width:100%;
    height: 100%;
    object-fit:cover;
}
.intro__buttons{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset:0;
}
.intro__buttons-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width:5rem;
    height: 5rem;
    border-radius: 50%;
    border:solid 1px var(--color-golden);
    cursor:pointer;
}