.aboutUs{
    display: flex;
    flex-direction:column;
    align-items: center;
    position:relative;
    margin:3rem;
}
.letterG {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset:0;
}
.letterG img{
    width:20rem;
    z-index:0;
}
.aboutUs__part1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right; 
    margin:1rem 0;  
}
.aboutUs__part1, .aboutUs__part2, .aboutUs__part3{
    z-index:1;
}
.aboutUs__part2 img{
    max-height:50rem;
}
.aboutUs__part1 img{
    rotate: 180deg;
}
.aboutUs__part1 h1, .aboutUs__part3 h1{
    color: var(--color-golden);
    font-size:3rem;
    font-family: var(--font-base);
}
.aboutUs__part1 p, .aboutUs__part3 p{
    color:var(--color-grey);
    margin: 3rem 0;
}
.aboutUs__part1 button, .aboutUs__part3 button{
    padding:0.7rem 1.5rem;
    font-family: var(--font-base);
    font-size:1rem;
    font-weight: bold;
    background-color: var(--color-crimson);
    border:none;
    cursor:pointer;
}
.aboutUs__part3 {
    margin: 1rem 0;
}


/* RESPONSIVE */
@media (min-width:900px) {
    .aboutUs{
        flex-direction: row;
        margin:3rem 6rem;
    }
    .aboutUs__part2 img{
        margin:0 5rem;
    }
}