.header{
    display: flex;
    flex-direction:column;
    background-color: var(--color-black);
    padding:2rem 1.5rem;
}
.header__part1 p {
    font-size:0.9rem;
    word-spacing: 0.3rem;
    color:#fff;
}
.header__part1  div:first-child p{
    font-family: var(--font-base);
    font-size:1.2rem;
}
.header__part1 h1{
    font-size:5rem;
    color: var(--color-golden);
    font-family: var(--font-base);
    margin:1.5rem 0;
}
.header__part1 button{
    background-color: var(--color-crimson);
    border:none;
    cursor:pointer;
    margin:2rem 0;
    padding:0.7rem 1.5rem;
    font-family:var(--font-base);
    font-weight:bold;
    font-size:1rem;
}
.header__part2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__part2 img{
    max-width:100%;
}

/* RESPONSIVE */
@media (min-width:1020px) {
    .header{
        flex-direction:row;
        padding:5rem;
    }
    .header__part1 h1{
        font-size:4.3rem;
    }
    .header__part2 img{
        margin-left:7rem;
        max-width:20rem;
    }
}